
Baseball Teams_Designing and Creating a Database/ mlb.db
Baseball Teams_Designing and Creating a Database/.ipynb_checkpoints/Major League Baseball Database Creation-checkpoint.ipynb
Baseball Teams_Designing and Creating a Database/appearance_type.csv
Baseball Teams_Designing and Creating a Database/game_log.csv
Baseball Teams_Designing and Creating a Database/game_log_fields.txt
Baseball Teams_Designing and Creating a Database/League_Schema.png
Baseball Teams_Designing and Creating a Database/Major League Baseball Database Creation.ipynb
Baseball Teams_Designing and Creating a Database/park_codes.csv
Baseball Teams_Designing and Creating a Database/person_codes.csv
Baseball Teams_Designing and Creating a Database/team_codes.csv
